<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.java.hibercrud.ATest"/>
      <class name="com.java.hibercrud.PerformLoginTest"/>
      <class name="com.java.hibercrud.CTest"/>
      <class name="com.java.hibercrud.BTest"/>
      <class name="com.java.hibercrud.Dtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
